<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="stylesheets/css/main.css">
</head>
	<body>
		<nav>
			<ul>
			  <li><a class="active" href="/">Panem</a></li>
			  <li><a href="/bread">Bread</a></li>
			  <li><a href="/cookies">Cookies</a></li>
			  <li><a href="/muffins">Muffins</a></li>
			</ul>
		</nav>
		<div class="bread-divs">
			<img src="stylesheets/scss/images/bananabread.jpg" class="img-size">
			<h1> <%= @bread_one.name %></h1>
			<p> <%= @bread_one.description %> </p>
			<p>$ <%= @bread_one.price %>0</p>
			 <p> <%= @bread_one.quantity %></p> 
			<button></button>
		</div>
		
		<div class="bread-divs">
			<img src="stylesheets/scss/images/rusticbread.jpg" class="img-size">
			<h1><%= @bread_two.name %></h1>
			<h4>Description</h4>
			<h5> <%= @bread_two.description %></h5>
			<h4>Price</h4>
			<h5> $<%= @bread_two.price %>0</h5>
			<p> <%= @bread_two.quantity %></p>	
		</div>
		

	</body>
</html>