
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> <%= @cookie1.name %></h1>
	<p> <%= @cookie1.description %> </p>
	<p> <%= @cookie1.price %></p>
	<p> <%= @cookie1.quantity %></p>

	<h1> <%= @cookie2.name %></h1>
	<p> <%= @cookie2.description %> </p>
	<p> <%= @cookie2.price %></p>
	<p> <%= @cookie2.quantity %></p>

</body>
</html>
