<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> <%= @muffin_one.name %></h1>
	<p> <%= @muffin_one.description %> </p>
	<p> <%= @muffin_one.price %></p>
	<p> <%= @muffin_one.quantity %></p>

	<h1> <%= @muffin_two.name %></h1>
	<p> <%= @muffin_two.description %> </p>
	<p> <%= @muffin_two.price %></p>
	<p> <%= @muffin_two.quantity %></p>

</body>
</html>